/******************************************************************
Site Name:
Author:

Stylesheet: WooCommerce

******************************************************************/

/*********************
WOOCOMMERCE STYLES
*********************/

#store_template{
	background-color:$white;
	margin-top:1.5em;
	border-radius:5px;
	border:1px solid #CCC;
}